@model ErrorViewModel
@{
    ViewData["Title"] = "Bir Hata Oluştu";
}

<div class="text-center">
    <h1 class="display-1 text-danger">Hata</h1>
    <h2 class="text-danger">Uygulamayı işlerken bir hata oluştu.</h2>

    <h3>Lütfen daha sonra tekrar deneyin.</h3>
    <p>
        Sorun devam ederse, teknik ekibimizle iletişime geçerken aşağıdaki referans numarasını iletmeniz sorununuzun
        daha hızlı çözülmesine yardımcı olacaktır.
    </p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Referans ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Anasayfa'ya Dön</a>
</div>