@{
    Layout = "_Root";
}
@model RegisterViewModel
<div class="d-flex flex-column flex-lg-row flex-column-fluid">
    <!--begin::Body-->
    <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
        <!--begin::Form-->
        <div class="d-flex flex-center flex-column flex-lg-row-fluid">
            <!--begin::Wrapper-->
            <div class="w-lg-500px p-10">
                <!--begin::Form-->
                <form class="form w-100" id="kt_sign_up_form" asp-controller="Auth" asp-action="Register" method="post">
                    @Html.AntiForgeryToken()
                    <!--begin::Heading-->
                    <div class="text-center mb-11">
                        <!--begin::Title-->
                        <h1 class="text-gray-900 fw-bolder mb-3">Kayıt Ol</h1>
                        <!--end::Title-->
                        <!--begin::Subtitle-->
                        <div class="text-gray-500 fw-semibold fs-6">Trendyol Ciro Uzmanınız</div>
                        <!--end::Subtitle=-->
                    </div>
                    <!--begin::Heading-->
                    <!--begin::Separator-->
                    <div class="separator separator-content my-14"></div>
                    <!--end::Separator-->
                    <div class="row mb-8">
                        <!--begin::Col-->
                        <div class="col-md-6 fv-row">
                            <input type="text" placeholder="Ad" name="FirstName" asp-for="FirstName" autocomplete="on"
                                class="form-control bg-transparent" data-kt-signup-form="first_name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-6 fv-row">
                            <input type="text" placeholder="Soyad" name="LastName" asp-for="LastName" autocomplete="on"
                                class="form-control bg-transparent" data-kt-signup-form="last_name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <!--end::Col-->
                    </div>
                    <div class="fv-row mb-8">
                        <!--begin::Email-->
                        <input type="email" placeholder="Email" name="Email" asp-for="Email" autocomplete="on"
                            class="form-control bg-transparent" data-kt-signup-form="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <!--end::Email-->
                    </div>
                    <div class="fv-row mb-8">
                        <!--begin::Phone-->
                        <input type="tel" placeholder="Telefon" name="PhoneNumber" asp-for="PhoneNumber"
                            autocomplete="on" class="form-control bg-transparent" data-kt-signup-form="phone" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        <!--end::Phone-->
                    </div>
                    <!--begin::Input group-->
                    <div class="fv-row mb-8" data-kt-password-meter="true">
                        <!--begin::Wrapper-->
                        <div class="mb-1">
                            <!--begin::Input wrapper-->
                            <div class="position-relative mb-3">
                                <input class="form-control bg-transparent" type="password" placeholder="Şifre"
                                    name="Password" asp-for="Password" autocomplete="off"
                                    data-kt-signup-form="password" />
                                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                                    data-kt-password-meter-control="visibility">
                                    <i class="ki-duotone ki-eye-slash fs-2"></i>
                                    <i class="ki-duotone ki-eye fs-2 d-none"></i>
                                </span>
                            </div>
                            <!--end::Input wrapper-->
                            <!--begin::Meter-->
                            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                            </div>
                            <!--end::Meter-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Hint-->
                        <div class="text-muted">En az 8 karakter, büyük harf, küçük harf ve rakam içermelidir.</div>
                        <!--end::Hint-->
                    </div>
                    <!--end::Input group=-->
                    <!--end::Input group=-->
                    <div class="fv-row mb-8">
                        <!--begin::Repeat Password-->
                        <input placeholder="Şifre Tekrar" name="ConfirmPassword" asp-for="ConfirmPassword"
                            type="password" autocomplete="off" class="form-control bg-transparent"
                            data-kt-signup-form="confirm_password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <!--end::Repeat Password-->
                    </div>
                    <!--end::Input group=-->
                    <!--begin::Accept-->
                    <div class="fv-row mb-8">
                        <label class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="toc" value="1" />
                            <span class="form-check-label fw-semibold text-gray-700 fs-base ms-1">
                                <a href="#" class="ms-1 link-primary">Sözleşme ve koşulları</a>
                                okudum, onaylıyorum.
                            </span>
                        </label>
                    </div>
                    <!--end::Accept-->
                    <!--begin::Submit button-->
                    <div class="d-grid mb-10">
                        <button type="submit" id="kt_sign_up_submit" class="btn btn-primary">
                            <!--begin::Indicator label-->
                            <span class="indicator-label">Kayıt Ol</span>
                            <!--end::Indicator label-->
                            <!--begin::Indicator progress-->
                            <span class="indicator-progress">
                                Lütfen bekleyin...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                            <!--end::Indicator progress-->
                        </button>
                    </div>
                    <!--end::Submit button-->
                    <!--begin::Sign up-->
                    <div class="text-gray-500 text-center fw-semibold fs-6">
                        <a asp-action="Login" asp-controller="Account"
                            class="text-gray-500 text-center fw-semibold fs-6">Zaten hesabınız var mı?</a>
                    </div>
                    <!--end::Sign up-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Form-->
        <!--begin::Footer-->
        <div class="w-lg-500px d-flex flex-stack px-10 mx-auto">
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Body-->
    <!--begin::Aside-->
    <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
        style="background-image: url(/themes/metronic/assets/media/misc/auth-bg.png)">
        <!--begin::Content-->
        <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
            <!--begin::Logo-->
            <a href="index.html" class="mb-0 mb-lg-12">
                <img alt="Logo" src="~/themes/metronic/assets/media/logos/custom-1.png" class="h-60px h-lg-75px" />
            </a>
            <!--end::Logo-->
            <!--begin::Image-->
            <img class="d-none d-lg-block mx-auto w-275px w-md-50 w-xl-500px mb-10 mb-lg-20"
                src="~/themes/metronic/assets/media/misc/auth-screens.png" alt="" />
            <!--end::Image-->
            <!--begin::Title-->
            <h1 class="d-none d-lg-block text-white fs-2qx fw-bolder text-center mb-7">Fast, Efficient and Productive
            </h1>
            <!--end::Title-->
            <!--begin::Text-->
            <div class="d-none d-lg-block text-white fs-base text-center">
                In this kind of post,
                <a href="#" class="opacity-75-hover text-warning fw-bold me-1">the blogger</a>introduces a person
                they’ve interviewed
                <br />and provides some background information about
                <a href="#" class="opacity-75-hover text-warning fw-bold me-1">the interviewee</a>and their
                <br />work following this is a transcript of the interview.
            </div>
            <!--end::Text-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Aside-->
</div>

@section Scripts {
    <script>
        "use strict";

        // Class definition
        var KTSignupGeneral = function () {
            // Elements
            var form;
            var submitButton;

            // Handle form
            var handleForm = function (e) {
                // Init form validation rules
                var validator = FormValidation.formValidation(
                    form,
                    {
                        fields: {
                            'FirstName': {
                                validators: {
                                    notEmpty: {
                                        message: 'Ad alanı zorunludur.'
                                    },
                                    stringLength: {
                                        max: 50,
                                        message: 'Ad alanı 50 karakterden uzun olamaz.'
                                    }
                                }
                            },
                            'LastName': {
                                validators: {
                                    notEmpty: {
                                        message: 'Soyad alanı zorunludur.'
                                    },
                                    stringLength: {
                                        max: 50,
                                        message: 'Soyad alanı 50 karakterden uzun olamaz.'
                                    }
                                }
                            },
                            'Email': {
                                validators: {
                                    notEmpty: {
                                        message: 'E-posta adresi zorunludur.'
                                    },
                                    emailAddress: {
                                        message: 'Lütfen geçerli bir e-posta adresi giriniz.'
                                    }
                                }
                            },
                            'PhoneNumber': {
                                validators: {
                                    notEmpty: {
                                        message: 'Telefon numarası zorunludur.'
                                    },
                                    regexp: {
                                        regexp: /^(5(\d{9}))$/,
                                        message: 'Lütfen geçerli bir telefon numarası giriniz (Örn: 5xxxxxxxxx).'
                                    }
                                }
                            },
                            'Password': {
                                validators: {
                                    notEmpty: {
                                        message: 'Şifre zorunludur.'
                                    },
                                    stringLength: {
                                        min: 8,
                                        message: 'Şifreniz en az 8 karakter olmalıdır.'
                                    },
                                    regexp: {
                                        regexp: /[A-Z]/,
                                        message: 'Şifreniz en az bir büyük harf içermelidir.'
                                    },
                                    regexp: {
                                        regexp: /[a-z]/,
                                        message: 'Şifreniz en az bir küçük harf içermelidir.'
                                    },
                                    regexp: {
                                        regexp: /[0-9]/,
                                        message: 'Şifreniz en az bir rakam içermelidir.'
                                    }
                                }
                            },
                            'ConfirmPassword': {
                                validators: {
                                    notEmpty: {
                                        message: 'Şifre tekrar alanı zorunludur.'
                                    },
                                    identical: {
                                        compare: function () {
                                            return form.querySelector('[name="Password"]').value;
                                        },
                                        message: 'Girdiğiniz şifreler uyuşmuyor.'
                                    }
                                }
                            }
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            bootstrap: new FormValidation.plugins.Bootstrap5({
                                rowSelector: '.fv-row',
                                eleInvalidClass: '',
                                eleValidClass: ''
                            })
                        }
                    }
                );

                // Handle form submit
                submitButton.addEventListener('click', function (e) {
                    e.preventDefault();

                    // Validate form before submit
                    if (validator) {
                        validator.validate().then(function (status) {
                            if (status == 'Valid') {
                                // Show loading indication
                                submitButton.setAttribute('data-kt-indicator', 'on');

                                // Disable button to avoid multiple click
                                submitButton.disabled = true;

                                // Submit form
                                form.submit();
                            }
                        });
                    }
                });
            }

            // Public functions
            return {
                init: function () {
                    form = document.querySelector('#kt_sign_up_form');
                    submitButton = document.querySelector('#kt_sign_up_submit');

                    handleForm();
                }
            };
        }();

        // On document ready
        KTUtil.onDOMContentLoaded(function () {
            KTSignupGeneral.init();
        });
    </script>
}